<h1>New Account</h1>

<%= form_for( @account, url: accounts_create_path ) do |f| %>

  <div>
    <%= f.label :company_name %><br />
    <%= f.text_field :company_name %>
  </div>

  <div>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>

  <div>
    <%= f.label :email %><br />
    <%= f.email_field :email %>
  </div>

  <div>
    <%= f.submit 'create!' %>
  </div>

<% end %>